{% extends "layout.html" %}

{% block content %}
    <div class="text-box">
        <h1> Karori Badminton </h1>
        <p><i> Aspiring to support, strengthen and promote badminton in our community </i></p>
        <a href="" class="hero-btn"> Learn More Here </a>
    </div>
    </section>


    <section class="classes">
        <h1> Classes We Offer </h1>
        <p> Improve your game and playing skills </p>

        <div class="row">
            <div class="class-col">
                <h3> Shuttle Time </h3>
                <p> The Shuttle Time programmes are perfect for younger players to learn the basics right from the start and preparing these players for social and competitive play. </p>
            </div>
            <div class="class-col">
                <h3> Intermediate Classes </h3>
                <p> Our intermediate development and representative programmes will prepare players who are keen on competing regionally and nationally. </p>
            </div>
            <div class="class-col">
                <h3> Adult Classes </h3>
                <p> A safe environment for adults to get back to basic, focusing on racquet grips, footwork and movement, skills and techniques that will improve your game.</p>
            </div>
        </div>
    </section>
{% endblock %}