:root{
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --cream: rgb(253, 246, 236);
    --grey: rgb(150, 150, 150);
    --light-blue: rgba(19, 127, 185, 0.1);
    --blue: rgb(19, 127, 185);
    --dark-blue: rgb(13, 44, 84);
    --light-grey: rgba(150, 150, 150, 0.1);
    --transparent: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(static/images/home_banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/*----- nav bar -----*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: var(--black);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--blue);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


/*----- home header -----*/
.text-box{
    width: 90%;
    color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: var(--black);
}


/*----- hero button -----*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    border: solid 1px var(--black);
    padding: 12px 34px;
    font-size: 13px;
    background: var(--transparent);
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid var(--blue);
    background: var(--blue);
    transition: 0.5s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: var(--blue);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}


/*----- classes section -----*/
.classes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: var(--grey);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.class-col {
    flex-basis: 31%;
    background: var(--light-blue);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.class-col:hover{
    box-shadow: 0 0 20px 0 var(--grey);
}

@media(max-width: 700px){
    .row {
        flex-direction: column;
    }
}

/*----- ready to play footer -----*/
.rtp {
    margin: auto;
    width: 100%;
    background-image: url(images/footer.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 10px 0;
}

.rtp h1 {
    color: var(--black);
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .rtp h1 {
        font-size: 24px;
    }
}


/*----- sign up btn -----*/
nav .btn-outline {
    display: inline-block;
}

.btn-outline{
    border: 1px solid black;
    padding: 0 1em;
}

/*----- form -----*/
label, input[type="text"], input[type="email"], textarea{
    font-size: 1em !important;
}

form p {
    font-size: 1em;
}


/*----- subpages -----*/
.subpage-container{
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----- footer -----*/
.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
}
.footer div {
    text-align: center;
}
.col-2 {
    flex-grow: 2;
}
.footer div h3 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a {
    display: block;
    text-decoration: none;
    color: var(--white);
    margin-bottom: 10px;
}
.footer-btn {
    /*----- style footer sign up button -----*/
}

/*----- social media icons -----*/
.social-icons {
    margin-top: 30px;
}
.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}
.fa-facebook {
  background: #3b5998;
  color: var(--white);
}
.fa-twitter {
  background: #00acee;
  color: var(--white);
}
.fa-instagram {
  background: #cb317e;
  color: var(--white);
}