{% extends "layout.html" %}

{% block content %}

    <div class="subpage-container">
        <img class="img-fluid" src="static/images/subpage-banner.jpg" alt="Inside view of the seating at Karori Badminton Club">
        <div class="centered"><h1>LEARN</h1></div>
    </div>


    <section class="classes">
        <h1> Shuttle Time Programmes </h1>
        <p> Check out our levels of Shuttle Time </p>
    </section>
    <div class="container">
    <p>We offer an extensive junior badminton programme here at Wellington North Badminton. We provide a player pathway
        catering from the age of 6, and for a range of abilities. The Shuttle Time Programmes are perfect to get the
        basics right from the start and prepare for social and competitive play; whilst our junior development and
        representative programmes will prepare those who are keen shuttlers wanting to compete regionally and
        nationally.</p>
    <h2> Shuttle Time Junior Club </h2>
    <p> Designed for players under the age of 6 years old. </p>
    <ul>
        <li>Every Tuesday:  4pm - 5pm</li>
        <li>Every Thursday: 4pm - 5pm</li>
    </ul>
    <h2> Shuttle Time Bronze Programme </h2>
    <p> Players aged 7+ years begin at the Bronze level before progressing to the next level of the Shuttle Time
    programme. </p>
    <ul>
        <li>Every Tuesday:  4pm - 5pm</li>
        <li>Every Thursday: 4pm - 5pm</li>
    </ul>
    <h2> Shuttle Time Silver Programme </h2>
    <p> Older and more experienced players participate in our Silver level, most of whom began playing at Bronze level
    before progressing. </p>
    <ul>
        <li>Every Tuesday:  5pm - 6pm</li>
        <li>Every Thursday: 5pm - 6pm</li>
    </ul>
    <h2> Shuttle Time Gold Programme </h2>
    <p> An invitational only programme catering for children who are ready to take their badminton to the competition
        level. The Shuttle Time Gold Programme is a pathway into our representative teams. This programme is a
        progression on the Karori Badminton Pathway from our Silver Programme. It is targeted at the more advanced
        participants who wish to progress into representative teams and compete within local badminton competitions.
        The programme will have a substantial emphasis on badminton training which will focus on advanced techniques,
        physical fitness and continue to highlight the importance on physical literacy.
        <br><br>
        Badminton training includes;
        advanced grips, overhead shots, movement patterns (footwork), positioning and tactics all with a considerably
        strong focal point on the correct technique. Physical literacy includes; quality experiences are embedded
        within our vision and philosophy, emphasising the value of having a participant centred approach. We will
        stress the importance of confidence, competence, knowledge and understanding of the sport and being active to
        ensure an enjoyable, rewarding experience is achieved at all times for participant satisfaction.</p>
    <ul>
        <li>Every Tuesday:  6pm - 7pm</li>
        <li>Every Thursday: 6pm - 7pm</li>
    </ul>
    </div>


    <section class="classes">
        <h1> Intermediate & Adult Classes </h1>
        <p> Come learn a new sport or brush up on your existing badminton skills </p>
    </section>
    <div class="container">
        <p> These classes are for teenage and adult players to focus on footwork and movement, skills and techniques
            that will help you to level up your game. Come along and have fun while learning about the fast-paced and
            exciting game of badminton.</p>
        <h2>Intermediate Classes</h2>
        <p> The next Intermediate Adult Development Series will run on a Saturday between 1-3pm, from 9 September to 14
            October 2023 <br> $15 per class or $50 for all 4 sessions. </p>
        <h2>Adult Classes</h2>
        <p> The next beginners Adult Development Series will run on a Saturday between 1-3pm, from 14 October to 11
            November 2023 <br> $15 per class or $50 for all 4 sessions. </p>
    </div>



{% endblock %}