{% extends "layout.html" %}

{% block content %}

    <div class="subpage-container">
        <img class="img-fluid" src="static/images/subpage-header.jpg">
        <div class="centered"><h1>PLAY</h1></div>
    </div>


    <section class="classes">
        <h1> Memberships </h1>
        <p> How to play at Karori Badminton Club </p>
    </section>
    <div class="container">
        <h2>OPTION 1: Purchase a Stadium Pass</h2>
        <p> The brand new Stadium Pass will work like a gym membership, with an active pass, players can book courts to
            play as often as they like, with some restrictions during peak hours to allow for fair and equitable access.
            Players are allowed to book courts to play singles (2-3 players) or doubles (4+ players), and all players
            for the booking must have an active pass, otherwise a casual court hire fee will be charged and paid in
            advance of the booking. All Stadium Pass holders (subject to the Stadium Pass Terms & Conditions) are also
            member of Karori Badminton in accordance with the Karori Badminton Associations Rules. Therefore, you will
            be able to enter all Badminton New Zealand sanctioned events, special discounts on shuttle purchases, and
            discounted entry to Karori Badminton hosted competitions and events.
        </p>
        <h2>OPTION 2: Join a Club</h2>
        <p> There is a club to suit every age, ability and background including those that have never played before.
            Clubs will accept both casual players and those that wish to become a member. For school-aged kids there are
            several junior programmes to choose from, including our popular Shuttle Time Programmes and a Junior Club.
            As a club member, you are also a member of Karori Badminton in accordance with the Karori Badminton
            Association Rules. Therefore, you will be able to enter all Badminton New Zealand sanctioned events,
            special discounts on shuttle purchases, and discounted entry to Karori Badminton hosted competitions and
            events.
        </p>
        <h2>OPTION 3: Casual Play</h2>
        <p> Casual players and walk-ins are welcome during our office hours. If you are planning to play outside our
            office hours, all players must register a FREE account which will allow for 24/7 access and the ability to
            pre-book online. Casual rate includes free use of racquets and shuttles so no need to spend any money on
            buying equipment (during office hours only).
        </p>
    </div>


    <section class="classes">
        <h1> Clubs </h1>
        <p> Join us and get amongst it! </p>
    </section>
    <div class="container">
        <h2>Dragon Badminton Club</h2>
        <p><b>Every Saturday: 16:00 - 22:00</b></p>
        <p> Each court has two games each to 21 points. Then change the partner or change opponent cross courts. Members
            make up their own games according to their skill level. Sometimes the club will organise the competition
            with other clubs or internal members. The club will endeavor to make our games more competitive and
            enjoyable.
        </p>
        <p> Contact: <br>
            Jack Lou <br>
            027 443 5247 <br>
            jack.lou@gmail.com</p>

        <h2>Midweek Club</h2>
        <p><b>Every Wednesday: 10:00 - 12:00</b></p>
        <p> The Midweek Badminton Club meets on Wednesdays from 10am to 12pm at Karori Badminton Club. We have a mix of
            men and women and a variety of ages and abilities so all welcome! Casual players and visitors are welcome.
        </p>
        <p> Contact: <br>
            Deepa Boja <br>
            021 0299 6822 <br>
            deepa.mkb@gmail.com</p>

        <h2>Monday Club</h2>
        <p><b>Every Monday: 17:00 - 22:00</b></p>
        <p> Games are arranged using a computerised Game Maker programme that reflects each player's experience and
            ability. Each game runs for 10 to 12 minutes.
        </p>
        <p> Contact: <br>
            Babette McCalman <br>
            022 078 1905 <br>
            babette.mccalman@yahoo.com</p>

        <h2>Pickleball</h2>
        <p><b>Every Tuesday and Thursday: 09:30 - 11:30</b></p>
        <p> $5 a time or $40 for a 10 trip. Open to players of all ages and abilities. Come along and try out the
            fast-paced and exciting sport of Pickleball; a combination of badminton, tennis and table tennis that is
            fun for all players.
        </p>
        <p> Contact: <br>
            Babette McCalman <br>
            022 078 1905 <br>
            babette.mccalman@yahoo.com</p>

        <h2>Shuttle Time Programmes</h2>
        <p><b>Every Tuesday and Thursday: 16:00 - 19:00</b></p>
        <p> This will be casual active participation and play for all ability levels. There will be no coaching on this
            programme, tamariki are encouraged to join a court and play with new faces and have fun. Facilitated by our
            coaches, you will be rotated around the courts, having an opportunity to socialize and play against new
            people, putting some of your skills to practice.
        </p>
        <p> Contact: <br>
            Karori Badminton Club Office <br>
            04 476 4968 <br>
            office@kbc.nz</p>
    </div>







{% endblock %}